commands:
    01_install_docker:
        command: "amazon-linux-extras install docker -y"
        ignoreErrors: true
    02_start_docker:
        command: "systemctl start docker && systemctl enable docker"
        ignoreErrors: true
    03_run_redis:
        # Проверяем существование контейнера (защита от ошибки конфликта имени), если нет - создаём
        command: "docker inspect yuviron-redis >/dev/null 2>&1 || docker run -d --name yuviron-redis -p 6379:6379 --restart always redis:alpine"