commands:
    01_install_docker:
        command: "dnf install -y docker"
        ignoreErrors: false
    02_start_docker:
        command: "systemctl start docker && systemctl enable docker"
        ignoreErrors: false
    03_run_redis:
        command: "docker inspect yuviron-redis >/dev/null 2>&1 || docker run -d --name yuviron-redis -p 6379:6379 --restart always redis:alpine"